/*html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px;
}*/

body {
  background-color: #efefef;
  margin: 0;
}

#root {
  display: flex;
}

aside {
  border-right: 2px solid #d2d2d2;
  width: 448px;
  min-width: 448px;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.search-box {
  padding-top: 10px;
  border-bottom: 2px solid #d2d2d2;
  background-color: #efefef;
  height: 140px;
}

.chat-list {
  overflow: auto;
  max-height: calc(100vh - 150px);
}

.chat-list > h1 {
  color: #1ac7da;
  display: inline-block;
  margin-left: 20px;
  font-size: 28px;
}
