.chat {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #d2d2d2;
  height: 90px;
  cursor: pointer;
}

.description-box {
  width: 250px;
  max-height: 85px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.description-box > h3, .description-box > h1 {
  margin: 0;
  font-family: 'Lucida Sans Unicode', monospace;
  font-weight: lighter;
}

.description-box > p {
  margin: 0;
  color: #5f5e5e;
}

.date-box {
  margin-right: 10px;
  font-size: 14px;
  color: #5f5e5e;
}
