input {
  border: none;
}

.search {
  border: 2px solid #d2d2d2;
  background-color: #fbfafa;
  display: inline-block;
  border-radius: 20px;
  padding: 0;
  margin: 25px 0 20px 10px;
}

.search-field {
  margin: 0 10px 0 0;
  width: 380px;
  font-size: 14px;
}

.search-btn {
  border-radius: 50%;
  width: 25px;
  vertical-align: middle;
  font-family: 'Material Icons';
  font-size: 20px;
}

.search-field, .search-btn {
  background-color: #fbfafa;
  color: #5f5e5e;
  outline: none;
  height: 25px;
}
